- id: ha_startup
  alias: HomeAssistant, notifica servizio avviato
  initial_state: true
  trigger:
  - event: start
    platform: homeassistant
  condition: []
  action:
  - service: notify.pushover
    data:
      title: Home Assistant
      message: Home Assistant è stato avviato con successo!
- id: ha_update_available
  alias: HomeAssistant, notifica aggiornamento disponibile
  initial_state: true
  trigger:
  - platform: state
    entity_id: binary_sensor.docker_hub_update_available
    from: 'off'
    to: 'on'
  condition: []
  action:
  - service: notify.pushover
    data:
      title: Home Assistant
      message: È disponibile la versione {{ states('sensor.docker_hub') }} di Home
        Assistant!
- id: external_lights_turnon
  alias: Accendi luci esterne dopo il tramonto
  trigger:
  - platform: sun
    event: sunset
    offset: 00:00:00
  action:
  - service: homeassistant.turn_on
    entity_id: group.lights_external
- id: external_lights_turnoff
  alias: Spegni luci esterne a mezzanotte
  trigger:
  - platform: time
    at: 00:00:00
  action:
  - service: homeassistant.turn_off
    entity_id: group.lights_external
- id: washing_machine_finished
  alias: Alexa comunica che l'asciugatrice ha terminato
  trigger:
    platform: state
    entity_id: binary_sensor.washing_machine
    to: 'off'
  action:
  - service: script.alexa_announce
    data:
      message: La lavatrice ha finito.
- id: dryer_machine_finished
  alias: Alexa comunica che la lavatrice ha terminato
  trigger:
    platform: state
    entity_id: binary_sensor.dryer_machine
    to: 'off'
  action:
  - service: script.alexa_announce
    data:
      message: L'asciugatrice ha finito.
- id: do_not_disturb_off
  alias: Disattiva la modalità non disturbare
  trigger:
  - platform: time
    at: 08:00:00
  action:
  - service: homeassistant.turn_off
    entity_id: input_boolean.do_not_disturb
- id: do_not_disturb_on
  alias: Attiva la modalità non disturbare
  trigger:
  - platform: time
    at: '23:00:00'
  action:
  - service: homeassistant.turn_on
    entity_id: input_boolean.do_not_disturb
- id: christmas_tree_auto_turnoff
  alias: Spegni albero di Natale alle 01:00
  initial_state: true
  trigger:
  - platform: time
    at: 01:00:00
  condition: []
  action:
  - service: homeassistant.turn_off
    entity_id: switch.sonoff_10001f9bcf
- id: magpi_downloader_check
  alias: Scarica l'ultimo numero di MagPi
  initial_state: true
  trigger:
  - at: 08:00
    platform: time
  condition: []
  action:
  - service: magpi_downloader.downloader
- id: home_recycling_notify
  alias: Raccolta differenziata, notifica serale
  triggers:
  - at: '20:00'
    trigger: time
  conditions:
  - condition: state
    entity_id: sensor.home_recycling
    state: 'on'
  actions:
  - action: notify.send_message
    metadata: {}
    data:
      message: "La spazzatura in ritiro domani è (2):{{'\\n'}} \n{%- for collection
        in state_attr(\"sensor.home_recycling\", \"collections_icons\") -%}\n  {{-
        collection }}{{'\\n'}}\n{%- endfor %}"
    target:
      entity_id: notify.telegram_bot_458417471_220682073
  - data_template:
      message: 'La spazzatura in ritiro domani è {{ state_attr("sensor.home_recycling",
        "collections")|join(" e ") }}

        '
    action: script.alexa_announce
    enabled: true
  initial_state: true
- id: home_recycling_set_states
  alias: Raccolta differenziata, popolamento stati
  initial_state: true
  trigger:
  - platform: time
    at: 07:00
  - platform: homeassistant
    event: start
  condition: []
  action:
  - service: home_recycling.collections_state
- id: '1708550800368'
  alias: Gestisci luci taverna con bottone Ikea
  description: ''
  triggers:
  - domain: mqtt
    device_id: 16cbd8bc6ea2fb612a2cce8906b08ff6
    type: action
    subtype: 'on'
    trigger: device
  conditions: []
  actions:
  - if:
    - condition: or
      conditions:
      - condition: state
        entity_id: light.basement_kitchen
        state: 'on'
      - condition: state
        entity_id: light.basement_office
        state: 'on'
    then:
    - metadata: {}
      data: {}
      target:
        entity_id:
        - light.basement_office
        - light.basement_kitchen
      action: light.turn_off
    else:
    - metadata: {}
      data: {}
      target:
        entity_id:
        - light.basement_office
        - light.basement_kitchen
      action: light.turn_on
  mode: single
- id: '1708633047656'
  alias: Accendi taverna automaticamente
  description: ''
  use_blueprint:
    path: homeassistant/motion_light.yaml
    input:
      motion_entity: binary_sensor.0x84fd27fffea4c4d6_occupancy
      light_target:
        device_id: b84ccae1e95ab6a73e02cf1a72687d38
- id: '1709057496134'
  alias: Accendi luce taverna con sensore di movimento
  description: ''
  trigger:
  - platform: state
    entity_id:
    - binary_sensor.0x84fd27fffea4c4d6_occupancy
    from: 'off'
    to: 'on'
  condition:
  - condition: time
    after: 06:00:00
    before: '23:00:00'
  action:
  - service: light.turn_on
    metadata: {}
    data: {}
    target:
      device_id: b84ccae1e95ab6a73e02cf1a72687d38
  mode: single
- id: '1711629795805'
  alias: Webhook - Commuta luci taverna
  description: ''
  trigger:
  - platform: webhook
    allowed_methods:
    - POST
    - PUT
    local_only: true
    webhook_id: -f2zbAQ98Ppm1v2ouhxLmWHOM
  condition: []
  action:
  - service: light.toggle
    target:
      device_id:
      - b84ccae1e95ab6a73e02cf1a72687d38
      - 534e95a35133cad223a5e36741f238b1
    data: {}
  mode: single
- id: '1755088566747'
  alias: Riavvia monitor Xiaomi con bottone Ikea
  description: ''
  triggers:
  - domain: mqtt
    device_id: a6b85b9b53854135d9ea0b5edcf85121
    type: action
    subtype: 'on'
    trigger: device
  conditions: []
  actions:
  - action: switch.turn_off
    metadata: {}
    data: {}
    target:
      entity_id: switch.gosund_presa03
    enabled: true
  - delay:
      hours: 0
      minutes: 0
      seconds: 15
      milliseconds: 0
    enabled: true
  - action: switch.turn_on
    metadata: {}
    data: {}
    target:
      entity_id: switch.gosund_presa03
    enabled: true
  mode: single
- id: '1755850802621'
  alias: Invia notifica se sensore allagamento lavanderia si attiva
  description: ''
  triggers:
  - type: turned_on
    device_id: bd3d0aa5bd6bc635ab08a85ada2c964d
    entity_id: d280b25cb08c33031b647b43b9be29e4
    domain: switch
    trigger: device
  conditions: []
  actions:
  - action: notify.mobile_app_iphone_di_andrea
    metadata: {}
    data:
      message: "Possibile allagamento in lavanderia! Controllare al più presto! \U0001F6A8"
      data:
        push:
          sound:
            name: default
            critical: 1
            volume: 1
  - action: notify.telegram_home
    metadata: {}
    data:
      data:
        action: notify.telegram_home
      message: "Possibile allagamento in lavanderia! Controllare al più presto! \U0001F6A8"
  mode: single
- id: '1760201522852'
  alias: L'etichetta Tag 2a62e2f0-be45-409e-bf88-02bed6919d9d è scansionata
  description: ''
  triggers:
  - trigger: tag
    tag_id: 2a62e2f0-be45-409e-bf88-02bed6919d9d
  - trigger: event
    event_type: nfc_sala_01
  conditions: []
  actions:
  - action: light.turn_on
    metadata: {}
    data: {}
    target:
      device_id: 38cfc963721e2e20dcd70bb580b1f1d1
  mode: single
- id: '1760383864033'
  alias: Invia notifica se sensore allagamento cucina si attiva
  description: ''
  triggers:
  - type: moist
    device_id: 00826ad02bc2656fabcd9b15aa2f2bb1
    entity_id: 1d99147a6754e36c218a76dcd7e35fc8
    domain: binary_sensor
    trigger: device
  conditions: []
  actions:
  - action: notify.mobile_app_iphone_di_andrea
    metadata: {}
    data:
      message: "Possibile allagamento in cucina! Controllare al più presto! \U0001F6A8"
      data:
        push:
          sound:
            name: default
            critical: 1
            volume: 1
  - action: notify.telegram_home
    metadata: {}
    data:
      data:
        action: notify.telegram_home
      message: "Possibile allagamento in cucina! Controllare al più presto! \U0001F6A8"
  mode: single
- id: '1760961627883'
  alias: Attiva sorveglianza quando famiglia è fuori casa
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - group.family
    from: home
    to: not_home
    for:
      hours: 0
      minutes: 5
      seconds: 0
  conditions: []
  actions:
  - action: telegram_bot.send_message
    metadata: {}
    data:
      config_entry_id: 01K0Z0WP75BTYWCM596FYMGB7F
      message: "Sorveglianza attivata \U0001F46E‍♂️"
  - action: input_boolean.turn_on
    metadata: {}
    data: {}
    target:
      entity_id:
      - input_boolean.sorveglianza
  mode: single
- id: '1760981206070'
  alias: TEST | Invia notifica quando torniamo a casa
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - group.family
    from: not_home
    to: home
    for:
      hours: 0
      minutes: 5
      seconds: 0
  conditions: []
  actions:
  - action: telegram_bot.send_message
    metadata: {}
    data:
      config_entry_id: 01K0Z0WP75BTYWCM596FYMGB7F
      message: "Siamo tornati a casa \U0001F3E1"
  mode: single
- id: '1761025277304'
  alias: Attiva rilevamento telecamere quando si attiva la sorveglianza
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - input_boolean.sorveglianza
    to: 'on'
    from: 'off'
  conditions: []
  actions:
  - type: turn_on
    device_id: a647ad497b00e65a01f6e756122f5fe5
    entity_id: 40e6a305f39b5d99cb17be8a30003a4e
    domain: switch
  - type: turn_on
    device_id: 347d265a98cff057015c0e37949d1a27
    entity_id: 5c8d44ca63d450b01f18481ed9c614d9
    domain: switch
  mode: single
- id: '1761057267827'
  alias: Disattiva rilevamento telecamere quando si disattiva la sorveglianza
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - input_boolean.sorveglianza
    from: 'on'
    to: 'off'
  conditions: []
  actions:
  - type: turn_off
    device_id: a647ad497b00e65a01f6e756122f5fe5
    entity_id: 40e6a305f39b5d99cb17be8a30003a4e
    domain: switch
  - type: turn_off
    device_id: 347d265a98cff057015c0e37949d1a27
    entity_id: 5c8d44ca63d450b01f18481ed9c614d9
    domain: switch
  mode: single
- id: '1761057649889'
  alias: Disattiva sorveglianza quando qualcuno è in casa
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - group.family
    from: not_home
    to: home
    for:
      hours: 0
      minutes: 2
      seconds: 0
  conditions: []
  actions:
  - action: telegram_bot.send_message
    metadata: {}
    data:
      config_entry_id: 01K0Z0WP75BTYWCM596FYMGB7F
      message: "Qualcuno è tornato a casa, sorveglianza spenta ⛓️‍\U0001F4A5"
  - action: input_boolean.turn_off
    metadata: {}
    data: {}
    target:
      entity_id: input_boolean.sorveglianza
  mode: single
