- id: ha_startup
  alias: HomeAssistant, notifica servizio avviato
  initial_state: true
  trigger:
  - event: start
    platform: homeassistant
  condition: []
  action:
  - service: notify.pushover
    data:
      title: Home Assistant
      message: Home Assistant è stato avviato con successo!
- id: ha_update_available
  alias: HomeAssistant, notifica aggiornamento disponibile
  initial_state: true
  trigger:
  - platform: state
    entity_id: binary_sensor.docker_hub_update_available
    from: 'off'
    to: 'on'
  condition: []
  action:
  - service: notify.pushover
    data:
      title: Home Assistant
      message: È disponibile la versione {{ states('sensor.docker_hub') }} di Home
        Assistant!
- id: external_lights_turnon
  alias: Accendi luci esterne dopo il tramonto
  triggers:
  - event: sunset
    offset: 00:00:00
    trigger: sun
  actions:
  - action: light.turn_on
    target:
      entity_id: light.all_externals
    data: {}
- id: external_lights_turnoff
  alias: Spegni luci esterne a mezzanotte
  triggers:
  - at: 01:00:00
    trigger: time
  actions:
  - action: light.turn_off
    target:
      entity_id: light.all_externals
    data: {}
- id: washing_machine_finished
  alias: Alexa comunica che la lavatrice ha terminato
  description: ''
  triggers:
  - entity_id:
    - binary_sensor.washing_machine_status
    to:
    - 'off'
    trigger: state
  actions:
  - action: script.announce_on_alexa_speaker
    metadata: {}
    data:
      message: La lavatrice ha finito
- id: dryer_machine_finished
  alias: Alexa comunica che l'asciugatrice ha terminato
  description: ''
  triggers:
  - entity_id:
    - binary_sensor.dryer_machine_status
    to:
    - 'off'
    trigger: state
  actions:
  - action: script.announce_on_alexa_speaker
    metadata: {}
    data:
      message: L'asciugatrice ha finito
- id: do_not_disturb_off
  alias: Disattiva la modalità non disturbare
  trigger:
  - platform: time
    at: 08:00:00
  action:
  - service: homeassistant.turn_off
    entity_id: input_boolean.do_not_disturb
- id: do_not_disturb_on
  alias: Attiva la modalità non disturbare
  trigger:
  - platform: time
    at: '23:00:00'
  action:
  - service: homeassistant.turn_on
    entity_id: input_boolean.do_not_disturb
- id: christmas_tree_auto_turnoff
  alias: Spegni albero di Natale alle 01:00
  initial_state: true
  trigger:
  - platform: time
    at: 01:00:00
  condition: []
  action:
  - service: homeassistant.turn_off
    entity_id: switch.sonoff_10001f9bcf
- id: magpi_downloader_check
  alias: Scarica l'ultimo numero di MagPi
  initial_state: true
  trigger:
  - at: 08:00
    platform: time
  condition: []
  action:
  - service: magpi_downloader.downloader
- id: home_recycling_notify
  alias: Raccolta differenziata, notifica serale
  description: ''
  triggers:
  - at: '20:00'
    trigger: time
  conditions:
  - condition: state
    entity_id: sensor.home_recycling
    state: 'on'
  actions:
  - action: notify.send_message
    metadata: {}
    data:
      message: "La spazzatura in ritiro domani è:{{'\\n'}} \n{%- for collection in
        state_attr(\"sensor.home_recycling\", \"collections_icons\") -%}\n  {{- collection
        }}{{'\\n'}}\n{%- endfor %}"
    target:
      entity_id: notify.telegram_bot_458417471_220682073
  - action: script.announce_on_alexa_speaker
    metadata: {}
    data:
      message: La spazzatura in ritiro domani è {{ state_attr("sensor.home_recycling",     "collections")|join("
        e ") }}
  initial_state: true
- id: home_recycling_set_states
  alias: Raccolta differenziata, popolamento stati
  initial_state: true
  trigger:
  - platform: time
    at: 07:00
  - platform: homeassistant
    event: start
  condition: []
  action:
  - service: home_recycling.collections_state
- id: '1708550800368'
  alias: Gestisci luci taverna con bottone Ikea
  description: ''
  triggers:
  - domain: mqtt
    device_id: 16cbd8bc6ea2fb612a2cce8906b08ff6
    type: action
    subtype: 'on'
    trigger: device
  conditions: []
  actions:
  - if:
    - condition: or
      conditions:
      - condition: state
        entity_id: light.basement_kitchen
        state: 'on'
      - condition: state
        entity_id: light.basement_office
        state: 'on'
    then:
    - metadata: {}
      data: {}
      target:
        entity_id:
        - light.basement_office
        - light.basement_kitchen
      action: light.turn_off
    else:
    - metadata: {}
      data: {}
      target:
        entity_id:
        - light.basement_office
        - light.basement_kitchen
      action: light.turn_on
  mode: single
- id: '1711629795805'
  alias: Webhook - Commuta luci taverna
  description: ''
  triggers:
  - allowed_methods:
    - POST
    - PUT
    local_only: true
    webhook_id: -f2zbAQ98Ppm1v2ouhxLmWHOM
    trigger: webhook
  conditions: []
  actions:
  - target:
      device_id:
      - b84ccae1e95ab6a73e02cf1a72687d38
      - 01ac9c45cde95c0a84b096976f8aec91
    data: {}
    action: light.toggle
  mode: single
- id: '1755088566747'
  alias: Riavvia monitor Xiaomi con bottone Ikea
  description: ''
  triggers:
  - domain: mqtt
    device_id: a6b85b9b53854135d9ea0b5edcf85121
    type: action
    subtype: 'on'
    trigger: device
  conditions: []
  actions:
  - action: switch.turn_off
    metadata: {}
    data: {}
    target:
      entity_id: switch.gosund_presa03
    enabled: true
  - delay:
      hours: 0
      minutes: 0
      seconds: 15
      milliseconds: 0
    enabled: true
  - action: switch.turn_on
    metadata: {}
    data: {}
    target:
      entity_id: switch.gosund_presa03
    enabled: true
  mode: single
- id: '1755850802621'
  alias: Invia notifica se sensore allagamento lavanderia si attiva
  description: ''
  triggers:
  - type: turned_on
    device_id: bd3d0aa5bd6bc635ab08a85ada2c964d
    entity_id: d280b25cb08c33031b647b43b9be29e4
    domain: switch
    trigger: device
  conditions: []
  actions:
  - action: notify.mobile_app_iphone_di_andrea
    metadata: {}
    data:
      message: "Possibile allagamento in lavanderia! Controllare al più presto! \U0001F6A8"
      data:
        push:
          sound:
            name: default
            critical: 1
            volume: 1
  - action: notify.telegram_home
    metadata: {}
    data:
      data:
        action: notify.telegram_home
      message: "Possibile allagamento in lavanderia! Controllare al più presto! \U0001F6A8"
  mode: single
- id: '1760383864033'
  alias: Invia notifica se sensore allagamento cucina si attiva
  description: ''
  triggers:
  - type: moist
    device_id: 00826ad02bc2656fabcd9b15aa2f2bb1
    entity_id: 1d99147a6754e36c218a76dcd7e35fc8
    domain: binary_sensor
    trigger: device
  conditions: []
  actions:
  - action: notify.mobile_app_iphone_di_andrea
    metadata: {}
    data:
      message: "Possibile allagamento in cucina! Controllare al più presto! \U0001F6A8"
      data:
        push:
          sound:
            name: default
            critical: 1
            volume: 1
  - action: notify.telegram_home
    metadata: {}
    data:
      data:
        action: notify.telegram_home
      message: "Possibile allagamento in cucina! Controllare al più presto! \U0001F6A8"
  mode: single
- id: '1762786134926'
  alias: Gestione azioni in base a stato modalità sorveglianza
  description: Gestisce le azioni da eseguire quando la modalità sorveglianza viene
    attivata o disattivata
  triggers:
  - trigger: state
    entity_id:
    - input_boolean.sorveglianza
  conditions: []
  actions:
  - if:
    - condition: state
      entity_id: input_boolean.sorveglianza
      state:
      - 'on'
    then:
    - type: turn_on
      device_id: a647ad497b00e65a01f6e756122f5fe5
      entity_id: 40e6a305f39b5d99cb17be8a30003a4e
      domain: switch
    - type: turn_on
      device_id: 347d265a98cff057015c0e37949d1a27
      entity_id: 5c8d44ca63d450b01f18481ed9c614d9
      domain: switch
    - action: notify.send_message
      metadata: {}
      data:
        message: "Sorveglianza attivata \U0001F46E‍♂️"
      target:
        entity_id: notify.telegram_bot_458417471_220682073
    else:
    - type: turn_off
      device_id: a647ad497b00e65a01f6e756122f5fe5
      entity_id: 40e6a305f39b5d99cb17be8a30003a4e
      domain: switch
    - type: turn_off
      device_id: 347d265a98cff057015c0e37949d1a27
      entity_id: 5c8d44ca63d450b01f18481ed9c614d9
      domain: switch
    - action: notify.send_message
      metadata: {}
      data:
        message: "Qualcuno è tornato a casa, sorveglianza spenta ⛓️‍\U0001F4A5"
      target:
        entity_id: notify.telegram_bot_458417471_220682073
  mode: single
- id: '1762786839718'
  alias: Attiva/disattiva sorveglianza in base a presenza Famiglia
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - group.family
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: state
        entity_id: group.family
        state:
        - home
      sequence:
      - action: input_boolean.turn_off
        metadata: {}
        data: {}
        target:
          entity_id: input_boolean.sorveglianza
    - conditions:
      - condition: state
        entity_id: group.family
        state:
        - not_home
      sequence:
      - if:
        - condition: state
          entity_id: binary_sensor.dreame_l10s_working
          state:
          - 'on'
        then:
        - wait_for_trigger:
          - trigger: state
            entity_id:
            - binary_sensor.dreame_l10s_working
            to:
            - 'off'
            - unavailable
            - unknown
        - action: input_boolean.turn_on
          metadata: {}
          data: {}
          target:
            entity_id: input_boolean.sorveglianza
        else:
        - action: input_boolean.turn_on
          metadata: {}
          data: {}
          target:
            entity_id: input_boolean.sorveglianza
  mode: single
- id: '1764340481059'
  alias: '[DEV] Luce al rientro a casa'
  description: ''
  triggers:
  - type: occupied
    device_id: 51fdf9d7f75309911e49e8195ef3fde7
    entity_id: 90c76d2d86a6c174d35859ae83a900bb
    domain: binary_sensor
    trigger: device
  conditions:
  - condition: state
    entity_id: binary_sensor.famiglia_tornata_a_casa_da_meno_di_5_minuti
    state:
    - 'on'
  actions:
  - action: light.turn_on
    metadata: {}
    data: {}
    target:
      device_id: 82380364bf3b9e7485f2cc9a0dbede4e
  - wait_for_trigger:
    - type: not_occupied
      device_id: 51fdf9d7f75309911e49e8195ef3fde7
      entity_id: 90c76d2d86a6c174d35859ae83a900bb
      domain: binary_sensor
      trigger: device
    timeout:
      hours: 0
      minutes: 2
      seconds: 0
      milliseconds: 0
  - action: light.turn_off
    metadata: {}
    data: {}
    target:
      device_id: 82380364bf3b9e7485f2cc9a0dbede4e
  mode: single
- id: '1764770292151'
  alias: Scene Switch - 1 accendi albero
  description: ''
  triggers:
  - domain: mqtt
    device_id: 58492f2ed7cd23aa0e97ef2227171152
    type: action
    subtype: 1_single
    trigger: device
  conditions: []
  actions:
  - action: switch.toggle
    metadata: {}
    data: {}
    target:
      entity_id: switch.sonoff_10001f9bcf
  mode: single
- id: '1764778073979'
  alias: Scene Switch - 2 auguri buon natale
  description: ''
  triggers:
  - domain: mqtt
    device_id: 58492f2ed7cd23aa0e97ef2227171152
    type: action
    subtype: 2_single
    trigger: device
  conditions: []
  actions:
  - action: script.announce_on_alexa_speaker
    metadata: {}
    data:
      sound_name: auguri_buon_natale
  mode: single
- id: '1764868228630'
  alias: Scene switch - 3 Max Verstappen
  description: ''
  triggers:
  - domain: mqtt
    device_id: 58492f2ed7cd23aa0e97ef2227171152
    type: action
    subtype: 3_single
    trigger: device
  conditions: []
  actions:
  - action: script.announce_on_alexa_speaker
    metadata: {}
    data:
      sound_name: max-verstappen-tututututu
  mode: single
- id: '1764880120243'
  alias: IFTTT -> Aggiorna stato luci Gewiss
  description: ''
  triggers:
  - trigger: event
    event_type: ifttt_webhook_received
    event_data:
      action: gewiss_event
  conditions: []
  actions:
  - action: script.turn_on
    metadata: {}
    target:
      entity_id: script.spegni_automazioni_da_hass_a_ifttt_gewiss_smart_home
    data: {}
    enabled: false
  - if:
    - condition: template
      value_template: '{{ trigger.event.data.value == "True" }}'
    then:
    - action: input_boolean.turn_on
      target:
        entity_id: '{{ trigger.event.data.entity_id }}'
      data: {}
    else:
    - action: input_boolean.turn_off
      target:
        entity_id: '{{ trigger.event.data.entity_id }}'
  - delay:
      hours: 0
      minutes: 0
      seconds: 2
      milliseconds: 0
    enabled: false
  - action: script.turn_on
    metadata: {}
    target:
      entity_id: script.attiva_automazioni_da_hass_a_ifttt_gewiss_smart_home
    data: {}
    enabled: false
  mode: single
- id: '1767001743267'
  alias: Disattiva sorveglianza se robottino sta pulendo
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - binary_sensor.dreame_l10s_working
    to:
    - 'on'
  conditions:
  - condition: state
    entity_id: input_boolean.sorveglianza
    state:
    - 'on'
    enabled: true
  actions:
  - action: input_boolean.turn_off
    metadata: {}
    target:
      entity_id: input_boolean.sorveglianza
    data: {}
  - wait_for_trigger:
    - trigger: state
      entity_id:
      - binary_sensor.dreame_l10s_working
      to:
      - 'off'
  - action: automation.trigger
    metadata: {}
    target:
      entity_id: automation.attiva_disattiva_sorveglianza_in_base_a_presenza_famiglia
    data:
      skip_condition: true
  mode: single
- id: '1767113588965'
  alias: IFTTT -> Scenario Gewiss eseguito
  description: ''
  triggers:
  - trigger: event
    event_type: ifttt_webhook_received
    event_data:
      action: gewiss_scenario
  conditions: []
  actions:
  - choose:
    - conditions:
      - condition: template
        value_template: '{{ trigger.event.data.value == "buonanotte" }}'
      sequence:
      - action: light.toggle
        metadata: {}
        target:
          entity_id: light.basement_kitchen
        data: {}
        enabled: false
      - action: script.routine_buonanotte
        metadata: {}
        data: {}
  mode: single
- id: '1768082766773'
  alias: Routine mattutina
  description: ''
  triggers:
  - type: opened
    device_id: b53d62ce6d33dbaebadc5a7938462820
    entity_id: ac422f948e349e4c7f25d46698d3a12e
    domain: binary_sensor
    trigger: device
  conditions:
  - condition: time
    after: 06:00:00
    before: '10:00:00'
    weekday:
    - mon
    - tue
    - wed
    - thu
    - fri
    - sat
    - sun
  - condition: state
    entity_id: input_boolean.scenario_mattutino_eseguito
    state:
    - 'off'
  actions:
  - action: input_boolean.turn_on
    metadata: {}
    target:
      entity_id: input_boolean.scenario_mattutino_eseguito
    data: {}
  - parallel:
    - sequence:
      - action: light.turn_on
        metadata: {}
        target:
          entity_id: light.lampada_sala
        data: {}
      - delay:
          hours: 0
          minutes: 2
          seconds: 0
          milliseconds: 0
      - action: light.turn_off
        metadata: {}
        target:
          entity_id: light.lampada_sala
        data: {}
    - action: light.turn_on
      metadata: {}
      target:
        entity_id: light.luce_cucina_centrale
      data: {}
  mode: single
- id: '1768121296235'
  alias: Routine mattutina - reset
  description: ''
  triggers:
  - trigger: time
    at: 01:00:00
  conditions: []
  actions:
  - action: input_boolean.turn_off
    metadata: {}
    target:
      entity_id: input_boolean.scenario_mattutino_eseguito
    data: {}
  mode: single
