
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

# Public access to HA
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.20.0.0/24
    - 172.21.0.0/24
    - 172.22.0.0/24

api:

# Enable Alexa integration
alexa:
  smart_home:
    filter:
      include_entities:
        - light.ikea_bulb_02
        - script.routine_buonanotte
    entity_config:
      light.ikea_bulb_02:
        name: Laboratorio
        description: Lampada laboratorio


automation: !include automations.yaml
binary_sensor: !include binary_sensors.yaml
group: !include groups.yaml
notify: !include notifications.yaml
sensor: !include sensors.yaml
script: !include scripts.yaml
scene: !include scenes.yaml


#### Custom components ####

# Custom Component - Home Recycling management
home_recycling:
  calendar: /config/custom_components/home_recycling/home_recycling_calendar.json

# Custom Component - MagPi issues downloader
magpi_downloader:
  config_file: /config/custom_components/magpi_downloader/magpi_downloader_config.json
  output_path: /magpi
